In [16]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("filtered_dataset.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83309 entries, 0 to 83308
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.1              83309 non-null  int64
 1   Unnamed: 0                83309 non-null  int64
 2   Summary                   83309 non-null  object
 3   Temperature (C)           83309 non-null  float64
 4   Apparent Temperature (C)  83309 non-null  float64
 5   Humidity                  83309 non-null  float64
 6   Pressure (millibars)      83309 non-null  float64
dtypes: float64(4), int64(2), object(1)
memory usage: 4.4+ MB

In [13]:
df.drop(columns=["Unnamed: 0","Unnamed: 0.1"])

,Summary,Temperature (C),Apparent Temperature (C),Humidity,Pressure (millibars)
0,Partly Cloudy,9.472222,7.388889,0.89,1015.13
1,Partly Cloudy,9.355556,7.227778,0.86,1015.63
2,Mostly Cloudy,9.377778,9.377778,0.89,1015.94
3,Partly Cloudy,8.288889,5.944444,0.83,1016.41
4,Mostly Cloudy,8.755556,6.977778,0.83,1016.51
...,...,...,...,...,...
83304,Partly Cloudy,26.016667,26.016667,0.43,1014.36
83305,Partly Cloudy,24.583333,24.583333,0.48,1015.16
83306,Partly Cloudy,22.038889,22.038889,0.56,1015.66
83307,Partly Cloudy,21.522222,21.522222,0.60,1015.95
83308,Partly Cloudy,20.438889,20.438889,0.61,1016.16

In [15]:
feature_cols = ["Temperature (C)","Apparent Temperature (C)", "Humidity", "Pressure (millibars)"]
X = df[feature_cols]
Y = df.Summary

In [19]:
# split X and y into training and testing sets

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [25]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Using Logistic Regression

In [26]:
lr = LogisticRegression(random_state=16,solver='saga',max_iter=1000).fit(X_train_scaled, Y_train)

In [27]:
Y_pred = lr.predict(X_test_scaled)

In [28]:
from sklearn import metrics

cnf_matrix = metrics.confusion_matrix(Y_test, Y_pred)
cnf_matrix

array([[  51,  664,  268, 1506],
       [  55, 2498,  933, 3369],
       [  68, 1569, 1378,  792],
       [  39, 1877,  566, 5195]], dtype=int64)

In [30]:
lr.score(X_test_scaled,Y_test)

0.4379681198386787

In [32]:
from sklearn.metrics import classification_report
# target_names = ['without diabetes', 'with diabetes']
print(classification_report(Y_test, Y_pred))

               precision    recall  f1-score   support

        Clear       0.24      0.02      0.04      2489
Mostly Cloudy       0.38      0.36      0.37      6855
     Overcast       0.44      0.36      0.40      3807
Partly Cloudy       0.48      0.68      0.56      7677

     accuracy                           0.44     20828
    macro avg       0.38      0.36      0.34     20828
 weighted avg       0.41      0.44      0.41     20828